.flex-grid {
    display: flex;
}

.flex-grid .col {
    flex: 1;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
}

.wrapper > * {
    flex: 1 100%;
    padding: 10px;
}
.events-list {
    height: 90vh;
    overflow-y: auto;
}
.content-events {
    height: 60vh;
}

@media all and (min-width: 600px) {
    .event-container { flex: 1 50% ; }
}

@media all and (min-width: 800px) {
    .events-list { order: 1; }
    .events-map { order: 2; }
}

.event-item {
    display: flex;
    flex-direction: column;
    padding: 5px 0 5px 0;
}

@media (max-width: 400px) {
    .flex-grid {
        display: block;
    }
}

