.flex-grid {
    display: flex;
}

.flex-grid .col {
    flex: 1;
}

.map {
    padding: 0;
}

.event-item {
    display: flex;
    flex-direction: column;
    padding: 5px 0 5px 0;
}

@media (max-width: 400px) {
    .flex-grid {
        display: block;
    }
}

