.category {
    font-size: 0.9rem;
    cursor: pointer;
    border-bottom: none;
    padding: .5rem 1rem;
}
.category:hover {
    background-color: aliceblue;
}

.list-group-item+.list-group-item.active {
border-top: none;
}

.list-group-item+.list-group-item.active:hover {
    color: black;
}