.wrap {
    /*height: calc(100vh - (40px + 1em)); !* 100% of the viewport height *!*/
}

.content-events {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 10px;
    marign: 5px;

}
.content-title {
    display: flex;
    justify-content: center;
}

/*@media all and (max-width: 600px) {*/
/*    .content-events{*/
/*        display: block;*/
/*    }*/
/*}*/

/*@media all and (min-width: 800px) {*/
/*    !*.events-list { order: 1; }*!*/
/*    .homepage-events { order: 2; }*/
/*}*/